<div id="addView" class="panel" v-if="visible">
    <div class="center-board" style="width: 200px; height: 200px;" v-if="emptyList">
        <div class="row p-2">
            <div class="col">
                <button type="button" class="btn btn-link" @click="addGeneral">导入本地文件…</button>
            </div>
        </div>
        <div class="row p-2">
            <div class="col">
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#importPixivModal">添加Pixiv项目…</button>
            </div>
        </div>
        <div class="row p-2">
            <div class="col">
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#importURLModal">添加网络URL…</button>
            </div>
        </div>
    </div>
    <div style="overflow: auto; height: 100vh" v-if="!emptyList">
        <div class="container" style="margin-top: 100px">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <img alt="预览" style="width: 100%; height: 100%;" :src="current.dataURL"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{resolution}}
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label>标题:</label>
                        <input type="email" class="form-control" v-model="current.title">
                    </div>
                    <div class="form-group">
                        <label>画集:</label>
                        <input type="text" class="form-control" v-model="current.collection">
                    </div>
                    <div class="form-group">
                        <div><label>标签:</label></div>
                        <div>
                        <span v-for="(tag, index) in current.tags" class="badge m-1" :class="getTagType(tag, 'badge')">
                            <a class="text-white" @click="removeTag(tag)" @mousedown.right="changeTagType(index)">{{getTagName(tag)}}</a>
                        </span>
                        </div>
                        <div class="btn-group mt-2 ml-1">
                            <button class="btn text-dark collapsed" data-toggle="collapse" data-target="#edit-tag" aria-expanded="false">
                                <i class="fa fa-caret-down"></i> 现有
                            </button>
                            <input type="text" class="form-control rounded-0" v-model="newTagInput" @keydown.enter="addNewTag"/>
                            <select class="form-control rounded-0" v-model="newTagSelect">
                                <option value="%">题材</option>
                                <option value="#">内容</option>
                                <option value="@">作者</option>
                            </select>

                            <button type="button" class="btn" :class="getTagType(newTagSelect, 'btn')" @click="addNewTag">
                                <i class="fa fa-plus"></i> 新标签
                            </button>
                        </div>
                        <div class="collapse m-1" id="edit-tag">
                        <span v-for="tag in tags" class="badge m-1" :class="getTagType(tag, 'badge')">
                            <a class="text-white" @click="addOldTag(tag)">{{getTagName(tag)}}</a>
                        </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div><label>相关链接:</label></div>
                        <div class="btn-group" style="width:100%" v-for="(link, index) in current.links">
                            <input type="text" class="form-control" v-model="link.name">
                            <button type="button" class="btn btn-danger rounded" @click="removeLink(index)">
                                <i class="fa fa-close"></i>
                            </button>
                        </div>
                        <button type="button" class="btn mt-2 btn-sm btn-block btn-success" @click="addNewLink">
                            <i class="fa fa-plus"></i>新条目
                        </button>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" v-model="current.favorite"> 加入收藏
                        </label>
                    </div>
                    <div class="from-group pt-2" v-if="currentIndex > 0">
                        <button class="btn btn-link btn-sm" @click="copyInfoFromPrev">
                            <i class="fa fa-download"></i>从前一项复制信息
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="margin: auto; position: fixed; bottom: 0; right: 0;">
        <button class="btn btn-sm m-2 btn-danger" v-if="!emptyList" @click="removeItem"><i class="fa fa-trash"></i> 移除</button>
    </div>

    <nav id="navBar" class="navbar navbar-expand-sm" style="position: absolute; height: 50px; width: 100%;" :style="{'top': fullscreen ? '0' : '22px'}">
        <div class="row" style="width: 100%" v-if="showNavigator">
            <div class="col"></div>
            <div class="col-auto">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" :class="{disabled: !canPrev}" @click="toPage(0)">
                        <i class="fa fa-angle-double-left"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" :class="{disabled: !canPrev}" @click="toPage(currentIndex - 1)">
                        <i class="fa fa-angle-left"></i>
                    </button>
                </div>
            </div>
            <div class="col-auto">
                <div class="btn-group">
                    <input type="text" class="form-control" style="width: 60px; height: 31px;" v-model="currentIndexInput">
                    <label class="pt-1">/</label>
                    <span class="input-group-text" style="width: 60px; height: 31px;">{{count}}</span>
                </div>
            </div>
            <div class="col-auto">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" :class="{disabled: !canNext}" @click="toPage(currentIndex + 1)">
                        <i class="fa fa-angle-right"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" :class="{disabled: !canNext}" @click="toPage(items.length - 1)">
                        <i class="fa fa-angle-double-right"></i>
                    </button>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="ml-2" style="position: absolute; left: 0;">
            <button type="button" class="btn btn-sm btn-link" @click="goBack"><i class="fa fa-close"></i></button>
        </div>
        <div class="mr-2" style="position: fixed; right: 100px;">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-success" @click="addGeneral"><i class="fa fa-plus"></i> 添加新项目</button>
                <button type="button" class="btn btn-sm btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"></button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" data-toggle="modal" data-target="#importPixivModal">添加Pixiv项目…</a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#importURLModal">添加URL…</a>
                </div>
            </div>
        </div>
        <div class="mr-2" style="position: fixed; right: 0;">
            <button type="button" class="btn btn-sm btn-primary" @click="save" :class="{disabled: emptyList}">
                <i class="fa fa-check"></i> 全部保存
            </button>
        </div>
    </nav>

    <div class="modal fade" id="importURLModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">添加网络URL</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group" style="overflow: auto; max-height: 460px">
                        <div><label>添加的URL:</label></div>
                        <div class="btn-group" style="width:100%" v-for="(item, index) in importURL">
                            <input type="text" class="form-control" placeholder="https://" v-model="item.name">
                            <button type="button" class="btn btn-danger rounded" @click="removeURL(index)">
                                <i class="fa fa-close"></i>
                            </button>
                        </div>
                        <button type="button" class="btn mt-2 btn-sm btn-block btn-success" @click="addNewURL">
                            <i class="fa fa-plus"></i>新条目
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" @click="addURL"><i class="fa fa-download"></i> 下载并导入</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="importPixivModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">添加Pixiv项目</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group" style="overflow: auto; max-height: 460px">
                        <div><label>填写想要解析的pixiv ID:</label></div>
                        <div class="btn-group" style="width:100%" v-for="(item, index) in importPixiv">
                            <input type="text" class="form-control" placeholder="pixiv ID" v-model="item.name">
                            <button type="button" class="btn btn-danger rounded" @click="removePID(index)">
                                <i class="fa fa-close"></i>
                            </button>
                        </div>
                        <button type="button" class="btn mt-2 btn-sm btn-block btn-success" @click="addNewPID">
                            <i class="fa fa-plus"></i>新条目
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" @click="addPixiv">
                        <i class="fa fa-download"></i> 解析并导入
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel" id="loadDialog" v-if="loadDialog.show">
        <div class="panel" style="background: #000000; opacity: 0.3"></div>
        <div class="card" style="position: absolute; width: 360px; height: 160px; left: 50%; top: 50%; transform: translate(-50%, -50%)">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h6>{{loadDialog.title}}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label>{{loadDialog.description}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="progress">
                            <div class="progress-bar" :style="{width: this.loadDialog.step * 100 / this.loadDialog.max + '%'}"></div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col pl-1">
                        <button class="btn btn-link" @click="stopLoadingDialog">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>