<div id="detailView" class="panel" v-if="visible">
    <div style="position: absolute; width: 100%; overflow: hidden; text-align: center"
         :style="{'top': fullscreen ? '0px' : '22px', 'bottom': showDock ? '120px' : '0px'}">
        <div style="position: absolute; width: 100%; height: 100%" @click="showTool = !showTool"></div>
        <img style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)"
             :style="mainImageZoom" :src="currentDataURL"
             @click="showTool = !showTool" v-if="!showInfo"/>
        <div class="p-5" style="position: absolute; width: 100%; height: 100%; overflow: auto" v-if="showInfo">
            <div class="row">
                <div class="col-auto">
                    <button class="btn btn-link text-white" @click="switchEditMode">
                        <i class="fa fa-pencil-square-o"></i>
                    </button>
                </div>
                <div class="col" v-if="!editMode">
                    <h3 class="text-white">{{currentImage.title}}</h3>
                    <label class="text-white">{{currentImage.collection}}</label>
                </div>
                <div class="col pl-5 pr-5" v-if="editMode">
                    <input type="text" class="form-control m-1" placeholder="<标题...>" v-model="editImage.title"/>
                    <input type="text" class="form-control m-1" placeholder="<画集...>" v-model="editImage.collection"/>
                </div>
                <div class="col-auto">
                    <button class="btn btn-link text-white" @click="switchFavorite">
                        <i class="fa" :class="{'fa-star-o': !currentImage.favorite, 'fa-star': currentImage.favorite}"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md">
                    <img class="m-2" style="max-height: 40vh; max-width: 100%"
                        :src="currentDataURL"/>
                </div>
                <div class="col-12 col-md p-3" v-if="!editMode">
                    <div class="row p-1">
                        <div>
                            <span v-for="tag in currentImage.tags" class="badge m-1" :class="getTagType(tag, 'badge')">
                                <a class="text-white">{{getTagName(tag)}}</a>
                            </span>
                        </div>
                    </div>
                    <div class="row p-1" v-if="currentImage.links.length">
                        <table class="text-white text-left">
                            <thead>
                                <tr><th>相关链接:</th></tr>
                            </thead>
                            <tbody>
                            <tr v-for="link in currentImage.links">
                                <td><button class="btn btn-link" @click="openLink(link)">{{link}}</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row p-1">
                        <label class="text-white">分辨率: {{calcResolution(currentImage.resolution)}} </label>
                    </div>
                    <div class="row p-1">
                        <label class="text-white" style="font-size: 11px">添加日期: {{calcDateTime(new Date(currentImage.createTime), 'yyyy-MM-dd hh:mm')}}</label>
                    </div>
                </div>
                <div class="col-12 col-md p-3" v-if="editMode">
                    <div class="row p-1">
                        <div><label class="text-white">标签:</label></div>
                        <div>
                            <span v-for="(tag, index) in editImage.tags" class="badge m-1" :class="getTagType(tag, 'badge')">
                                <a class="text-white" @click="removeTag(tag)" @mousedown.right="changeTagType(index)">{{getTagName(tag)}}</a>
                            </span>
                        </div>
                        <div class="btn-group mt-2 ml-1">
                            <button class="btn text-dark collapsed" data-toggle="collapse" data-target="#edit-tag" aria-expanded="false">
                                <i class="fa fa-caret-down"></i> 现有
                            </button>
                            <input type="text" class="form-control rounded-0" v-model="editImage.newTag" @keydown.enter="addNewTag"/>
                            <select class="form-control rounded-0" v-model="editImage.newTagType">
                                <option value="%">题材</option>
                                <option value="#">内容</option>
                                <option value="@">作者</option>
                            </select>

                            <button type="button" class="btn" :class="getTagType(editImage.newTagType, 'btn')" @click="addNewTag">
                                <i class="fa fa-plus"></i> 新标签
                            </button>
                        </div>
                        <div class="collapse m-1 text-left" id="edit-tag">
                            <span v-for="tag in existTags" class="badge m-1" :class="getTagType(tag, 'badge')">
                                <a class="text-white" @click="addOldTag(tag)">{{getTagName(tag)}}</a>
                            </span>
                        </div>
                    </div>
                    <div class="row p-1">
                        <div><label class="text-white">相关链接:</label></div>
                        <div class="btn-group" style="width:100%" v-for="(link, index) in editImage.links">
                            <input type="text" class="form-control" v-model="link.name">
                            <button type="button" class="btn btn-danger rounded" @click="removeLink(index)">
                                <i class="fa fa-close"></i>
                            </button>
                        </div>
                        <button type="button" class="btn mt-2 btn-sm btn-block btn-success" @click="addNewLink">
                            <i class="fa fa-plus"></i>新条目
                        </button>
                    </div>
                    <div class="row p-1">
                        <label class="text-white">分辨率: {{calcResolution(currentImage.resolution)}} </label>
                    </div>
                    <div class="row p-1">
                        <label class="text-white" style="font-size: 11px">添加日期: {{calcDateTime(new Date(currentImage.createTime), 'yyyy-MM-dd hh:mm')}}</label>
                    </div>
                    <div class="row p-1">
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-sm btn-primary" @click="switchEditMode"><i class="fa fa-save"></i> 保存更改</button>
                            <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteCheck"><i class="fa fa-trash"></i> 删除本项</button>
                        </div>
                        <div class="modal fade" id="deleteCheck">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">警告</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        确认要删除吗？该操作不可逆。
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal" @click="deleteItem">确定</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="showTool || showInfo">
            <button style="position: absolute; left: 5px; top: 5px; width: 36px; height: 36px; border-width: 0"
                    class="btn btn-outline-secondary" @click="goBack">
                <i class="fa fa-close"></i>
            </button>
            <button style="position: absolute; left: 5px; top: 45px; width: 36px; bottom: 45px; border-width: 0"
                    class="btn btn-outline-secondary"
                    v-if="showPageButton" @click="prevPage">
                <i class="fa fa-angle-left"></i>
            </button>
            <button style="position: absolute; right: 5px; top: 45px; width: 36px; bottom: 45px; border-width: 0"
                    class="btn btn-outline-secondary"
                    v-if="showPageButton" @click="nextPage">
                <i class="fa fa-angle-right"></i>
            </button>
            <button style="position: absolute; right: 5px; bottom: 5px; width: 36px; height: 36px; border-width: 0"
                    class="btn btn-outline-secondary" v-if="showFullScreenButton" @click="switchFullScreen">
                <i class="fa fa-arrows-alt"></i>
            </button>
            <button style="position: absolute; left: 5px; bottom: 5px; width: 36px; height: 36px; border-width: 0"
                    class="btn btn-outline-secondary" v-if="!showDock" @click="showDock = true">
                <i class="fa fa-bars"></i>
            </button>
        </div>
    </div>

    <div style="position: absolute; width: 100%; height: 121px; bottom: 0; background: #222222"
         v-if="showDock">
        <button style="position: absolute; left: 5px; bottom: 79px; width: 36px; height: 36px; border-width: 0"
                class="btn btn-outline-secondary" @click="showInfo = !showInfo">
            <i class="fa fa-info"></i>
        </button>
        <button style="position: absolute; left: 5px; bottom: 42px; width: 36px; height: 36px; border-width: 0"
                class="btn btn-outline-secondary" @click="exportImage">
            <i class="fa fa-upload"></i>
        </button>
        <button style="position: absolute; left: 5px; bottom: 5px; width: 36px; height: 36px; border-width: 0"
                class="btn btn-outline-secondary" @click="showDock = false">
            <i class="fa fa-bars"></i>
        </button>
        <button style="position: absolute; right: 5px; bottom: 79px; width: 40px;height: 36px; border-width: 0"
                class="btn" :class="{'btn-outline-light': dockType === 'list', 'btn-outline-secondary': dockType !== 'list'}"
                @click="dockType = 'list'">
            <i class="fa fa-film"></i>
        </button>
        <button style="position: absolute; right: 5px; bottom: 42px; width: 40px;height: 36px; border-width: 0"
                class="btn" :class="{'btn-outline-light': dockType === 'play', 'btn-outline-secondary': dockType !== 'play'}"
                @click="dockType = 'play'">
            <i class="fa fa-video-camera"></i>
        </button>
        <button style="position: absolute; right: 5px; bottom: 5px; width: 40px; height: 36px; border-width: 0"
                class="btn" :class="{'btn-outline-light': dockType === 'zoom', 'btn-outline-secondary': dockType !== 'zoom'}"
                @click="dockType = 'zoom'">
            <i class="fa fa-joomla"></i>
        </button>
        <div style="position: absolute; left: 50px; right: 50px; top: 5px; bottom: 5px" v-if="dockType === 'list'">
            <div class="row" style="height: 100%">
                <div class="col p-0"></div>
                <div class="col-auto pt-2 pb-1 pl-0 pr-1">
                    <button class="btn btn-sm btn-secondary" style="width: 20px; height: 95px;"
                            @click="prevThumbnailPartition">
                        <i class="fa fa-angle-left"></i>
                    </button>
                </div>
                <div class="col-auto p-1" style="height: 100%; vertical-align: middle" v-for="thumbnail in thumbnails">
                    <img :src="thumbnail.dataURL" :alt="thumbnail.title" style="margin-top: 5%; height: 90%"
                        @click="loadCurrentAs(thumbnail.index)"/>
                </div>
                <div class="col-auto pt-2 pb-1 pl-1 pr-0">
                    <button class="btn btn-sm btn-secondary" style="width: 20px; height: 95px;"
                            @click="nextThumbnailPartition">
                        <i class="fa fa-angle-right"></i>
                    </button>
                </div>
                <div class="col p-0"></div>
            </div>
        </div>
        <div style="position: absolute; left: 50px; right: 50px; top: 5px; bottom: 5px" v-if="dockType === 'play'">
            <label class="form-check-label" style="color: #FFFFFF; position: absolute; left: 10px; top: 40%;">
                <input type="checkbox" class="form-check-input" v-model="playRand">随机轮播
            </label>
            <label style="position: absolute; right: 70%; top: 40%; color: #FFFFFF">轮播 {{playItems[playItem].title}}</label>
            <input type="range" class="custom-range" style="position: absolute; height: 25px; top: 40%; left: 35%; width: 60%"
                   min="0" :max="playItems.length - 1" step="1" v-model="playItem"/>
        </div>
        <div style="position: absolute; left: 50px; right: 50px; top: 5px; bottom: 5px" v-if="dockType === 'zoom'">
            <div class="btn-group-sm btn-group" style="position: absolute; top: 18px; left: 40%; width: 20%">
                <button class="btn m-0 btn-block" :class="{'btn-outline-secondary': !zoomAbsolute, 'btn-secondary': zoomAbsolute}"
                        style="color: #FFFFFF; height: 30px" @click="zoomAbsolute = true">绝对值</button>
                <button class="btn m-0 btn-block" :class="{'btn-outline-secondary': zoomAbsolute, 'btn-secondary': !zoomAbsolute}"
                        style="color: #FFFFFF; height: 30px" @click="zoomAbsolute = false">自适应</button>
            </div>
            <input type="range" class="custom-range" style="position: absolute; height: 25px; top: 55%; left: 10%; width: 80%"
                   min="0" max="100" step="5" v-model="zoomValue"/>
        </div>
    </div>
</div>