<div id="helpView" class="panel" v-if="visible">
    <div style="position: absolute; width: 100%; bottom: 0" :style="{'top': noTitleBar ? '0px' : '22px'}">
        <button style="position: absolute; left: 5px; top: 5px; width: 36px; height: 36px"
                class="btn btn-link" @click="goBack">
            <i class="fa fa-close"></i>
        </button>

        <div class="container m-5">
            <div class="row">
                <div class="col-auto">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" id="overview-btn" @click="setTab('overview')">概述</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" id="main-page-btn" @click="setTab('main-page')">主页</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" id="filter-btn" @click="setTab('filter')">-&nbsp;&nbsp;过滤查找</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" id="select-btn" @click="setTab('select')">-&nbsp;&nbsp;选择模式</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" id="folder-btn" @click="setTab('folder')">-&nbsp;&nbsp;文件夹系统</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" id="add-btn" @click="setTab('add')">添加或修改项目</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" id="web-btn" @click="setTab('web')">-&nbsp;&nbsp;网络项目</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" id="view-btn" @click="setTab('view')">项目详情</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <div class="tab-content">
                        <div class="tab-pane active container" id="overview">
                            <h3>Hedge</h3>
                            <label style="font-size: 12px">version 0.2.1 Beta</label>
                            <label style="font-size: 15px">By Heer Kirov</label><p>
                            <label>这是一个加密存储图像的应用程序。</label><p>
                            <label>程序以项目为主要存储单元，每项项目内保存一组图像与图像有关的信息，并使用标签分类管理。</label>
                            <label>常见问题列表：</label>
                            <ul>
                                <li><button class="btn btn-link" @click="setTab('add')">如何添加新的图片项目？</button></li>
                                <li><button class="btn btn-link" @click="setTab('pixiv')">如何从Pixiv添加图片？</button></li>
                                <li><button class="btn btn-link" @click="setTab('filter')">如何挑选出想浏览的图片？</button></li>
                                <li><button class="btn btn-link" @click="setTab('folder')">如何方便地管理一批图片？</button></li>
                                <li><button class="btn btn-link" @click="setTab('view')">如何使用详情功能？</button></li>
                            </ul>
                        </div>
                        <div class="tab-pane container" id="main-page">
                            通过登入确认后，首先进入主页。<p>
                            主页提供图像项目的列表查询功能。<p>
                            <h6>工具栏</h6>
                            主页顶部的工具栏包含主页的主要功能和跳转项。<p>
                            <ul>
                                <li class="mb-1">
                                    <button class="btn btn-sm btn-success"><i class="fa fa-plus"></i></button>
                                    前往<a class="text-primary" @click="setTab('add')">添加项目</a>页面。
                                </li>
                                <li class="mb-1">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fa fa-check-square-o"></i></button>
                                    开启或关闭<a class="text-primary" @click="setTab('select')">选择模式</a>。
                                </li>
                                <li class="mb-1">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><span class="ml-4 mr-4">选择过滤选项…</span></button>
                                    打开<a class="text-primary" @click="setTab('filter')">过滤选项</a>选单。
                                </li>
                                <li class="mb-1">
                                    <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-list"></i> 阅览列表</button>
                                    切换<a class="text-primary" @click="setTab('folder')">文件夹</a>。
                                </li>
                                <li class="mb-1">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fa fa-eye"></i></button>
                                    打开视图选单。
                                </li>
                                <li class="mb-1">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fa fa-cog"></i></button>
                                    打开偏好设置。
                                </li>
                            </ul>
                            <h6>视图区域和视图选单</h6>
                            主页的其他区域将会进行缩略图展示。<p>
                            【左键点击】任一缩略图，将会打开<a class="text-primary" @click="setTab('view')">展览页</a>。<p>
                            【右键点击】任一缩略图，会进入<a class="text-primary" @click="setTab('select')">选择模式</a>并选中/取消选中当前项目。<p>
                            视图选单中提供了对展示内容的调整。<p>
                            <ul>
                                <li class="mb-1">
                                    显示标题：在展示区显示图片的标题。
                                </li>
                                <li class="mb-1">
                                    图片缩放：控制展示区缩略图的绝对大小。
                                </li>
                                <li class="mb-1">
                                    一次加载数量：展示区会限制一次加载出的图片数量。如果加载的图片数量较多，会首先只加载一部分图片，并在下方显示【加载更多】按钮。
                                    将选项设为【全部】，会取消限制，总是加载全部图片。
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane container" id="filter">
                            过滤对话框提供了过滤精确浏览目标的筛选和排序功能。
                            <h6>泛搜索</h6>
                            对话框顶端的搜索框，可以执行宽泛搜索。<p>
                            宽泛搜索将使用关键字匹配标题和画集名称。
                            <h6>筛选</h6>
                            <ul>
                                <li class="mb-1">
                                    标签组：仅查找具有所有指定标签的项目。标签组下方给出所有已存在的标签，并且可以搜索标签。
                                </li>
                            </ul>
                            <h6>排序</h6>
                            点击主页的【排序】按钮，打开排序选单。<p>
                            <ul>
                                <li class="mb-1">
                                    正向/反向字序：按照项目的标题字典序排序。
                                </li>
                                <li class="mb-1">
                                    较小/较大索引：按照项目的隐式索引排序。索引与创建项目的先后顺序有关。
                                </li>
                                <li class="mb-1">
                                    较早/较新创建：按照创建项目的时间排序。
                                </li>
                                <li class="mb-1">
                                    降序排序：按照降序排序没有勾选时则是升序排序。
                                </li>
                            </ul>
                            <h6>拆分到图像层级浏览和过滤</h6>
                            一般情况下，进行查询时，一个项目将会作为一个整体进行查询，它们的关键信息会成为项目内的公共信息。<p>
                            勾选此选项，使查询以单张图像为单位进行独立查询，每张图像的关键信息相当于其私有信息外加项目的公有信息。
                        </div>
                        <div class="tab-pane container" id="select">
                            <h6>选择模式</h6>
                            主页提供了选择模式，来做一些选择项上的操作。<p>
                            点击主页工具栏的【选择模式】按钮，或者直接右键点击一项缩略图，进入选择模式，并在主页下方出现选择模式的状态栏。<p>
                            <ul>
                                <li class="mb-1">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">全选</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">反选</button>
                                    </div>
                                    选择全部项目，或者反选当前的选择项。
                                </li>
                                <li class="mb-1">
                                    <button type="button" class="btn btn-sm btn-primary">
                                        <i class="fa fa-picture-o"></i> 详情
                                    </button>
                                    在<a class="text-primary" @click="setTab('view')">文件夹</a>查看所有被选择的项。
                                    通常，当您点击图片进入详情页时，详情页会浏览您当前浏览的所有项；
                                    而从选择模式进入详情页时，详情页仅浏览被选择的项。
                                </li>
                                <li class="mb-1">
                                    <button type="button" class="btn btn-sm btn-primary">
                                        <i class="fa fa-edit"></i> 编辑
                                    </button>
                                    在<a class="text-primary" @click="setTab('add')">文件夹</a>编辑所有被选择的项目。
                                </li>
                                <li class="mb-1">
                                    <button type="button" class="btn btn-sm btn-primary">
                                        <i class="fa fa-empire"></i>添加到临时文件夹
                                    </button>
                                    将当前的选择项添加到<a class="text-primary" @click="setTab('folder')">临时文件夹</a>。
                                </li>
                                <li class="mb-1">
                                    <button type="button" class="btn btn-sm btn-primary">
                                        <i class="fa fa-folder-open-o"></i> 添加到…
                                    </button>
                                    将当前的选择项添加到一个<a class="text-primary" @click="setTab('folder')">普通文件夹</a>。
                                </li>
                                <li class="mb-1">
                                    批量导出：将当前选中项批量输出到本地硬盘。
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane container" id="folder">
                            <h6>文件夹</h6>
                            文件夹系统提供了一种以传统的文件夹目录的方式管理图像和项目的方式。<p>
                            在主页的【文件夹选择】按钮，或者【偏好设置】→【文件夹】，可以创建新的文件夹。文件夹的名称必须是唯一非空的。<p>
                            在主页的【文件夹选择】按钮，可以切换到【阅览列表】【临时文件夹】，或已创建文件夹，并将主页的显示列表切换到对应的文件夹内。<p>
                            <h6>普通文件夹</h6>
                            普通的文件夹。它保存一组图像或项目。<p>
                            要向普通文件夹添加或移除项目，可以在<a class="text-primary" @click="setTab('select')">选择模式</a>下完成。
                            <h6>虚拟文件夹</h6>
                            虚拟文件夹不保存任何实体项目，而保存一组查询参数。通过配置这组查询参数，每次访问文件夹都执行相同的查询。<p>
                            编辑虚拟文件夹的查询参数的方法，与使用<a class="text-primary" @click="setTab('filter')">过滤器</a>的方法一致。
                            <h6>临时文件夹</h6>
                            如果有在一次使用中，临时有批量处理一些图片的需要，则可以使用临时文件夹。<p>
                            在选择模式状态栏点击【添加到临时文件夹】，即可将选中的图片添加到临时文件夹。<p>
                            在菜单栏的【文件夹选择】中选择【临时文件夹】，即可切换到临时文件夹中。<p>
                            临时文件夹的操作逻辑与普通文件夹一致，唯一的区别是，在您退出应用程序之后，临时文件夹将会被清空。
                        </div>
                        <div class="tab-pane container" id="add">
                            点击主页左上角的【添加】按钮，进入编辑页面，并可以添加新项目。<p>
                            项目是程序进行处理的主要单位，它包含大多数关键信息，且可以包含多张图像，将相似或有关的图像组织起来。<p>
                            <h6>新项目</h6>
                            添加页面有4种可用的添加新项目的方案：新建空项目、导入本地文件并生成项目、下载网络文件并生成项目、解析pixiv项目并生成项目。<p>
                            <ul>
                                <li class="mb-1">新建空项目：新建一个空的项目，没有任何内容，适用于高度自定义的编辑。</li>
                                <li class="mb-1">导入本地文件并生成项目：从本地导入数批图像文件，并根据配置的选项进行简单的项目分组。</li>
                                <li class="mb-1">下载网络文件并生成项目：填写URL下载文件，并根据配置选项选择是否分组。</li>
                                <li class="mb-1">解析pixiv项目并生成项目：根据pixiv ID，从pixiv.net下载图像，并解析项目信息。详情见【<a class="text-primary" @click="setTab('web')">Pixiv</a>】</li>
                            </ul>
                            创建成功之后会显示项目页面。只有1幅图像时，项目页面的显示更加精简。<p>
                            在项目页面可以继续为项目添加更多图像：<p>
                            <ul>
                                <li class="mb-1">添加本地文件：从本地导入图像文件。</li>
                                <li class="mb-1">添加网络URL：从网络下载图像。</li>
                            </ul>
                            为项目编写尽可能详细且准确的信息，以在日后能使用更精确的分类来浏览。<p>
                            <ul>
                                <li class="mb-1">标题：图片的标题。可以重复或留空。</li>
                                <li class="mb-1">
                                    标签：用于筛选归类。标签有一个类型系统，可以用于区分不同用途的标签。
                                    右键点击已经生成的标签，将删除标签；左键点击已经生成的标签，将切换标签的类型。
                                </li>
                                <li class="mb-1">
                                    相关链接：与图片有关系的URL链接。
                                </li>
                            </ul>
                            页面底部的【删除】按钮用于删除当前项。删除一个已存在的编辑项目，会提交对该项目的删除请求。<p>
                            上方工具栏的导航按钮组用于在正在编辑的项目中切换。<p>
                            点击右上角的【全部保存】按钮，将所有改动(包括项目删除)保存到存储。
                        </div>
                        <div class="tab-pane container" id="web">
                            <h6>使用URL下载</h6>
                            在URL对话框填写URL，点击【下载并导入】，将网络上的图像下载到项目中。<p>
                            <label style="font-size: 14px">需要注意的是，URL下载是HTTP GET请求，不带有额外参数，需要登录认证才能访问的URL将无法下载。</label>
                            <label style="font-size: 14px">如果需求是从Pixiv下载图片，可以参考下面一项。</label><p>
                            如果有代理网络需求，请前往【偏好设置】【网络代理】设置网络代理。<p>
                            <h6>从Pixiv下载</h6>
                            应用程序提供对Pixiv illustration的解析功能。<p>
                            要使用解析功能，首先请前往【偏好设置】【Pixiv功能】配置一组Pixiv账户。这个Pixiv账户将用于解析时模拟登录访问Pixiv。<p>
                            在添加页面点击【解析Pixiv项目】，打开添加Pixiv ID对话框。<p>
                            在选单中，填写想要下载的Pixiv ID，或者pixiv illust页面的URL，并点击【解析并导入】。<p>
                            解析功能将下载origin规模的图片，并分析图片的详细信息，提前放入详情表单以供编写和修改。<p>
                            <label style="font-size: 14px">本功能对pixiv的解析支持将pixiv标签、pixiv作者名字添加为预设标签。解析得到的标签类型可以在对话框中预先设置。</label><p>
                            如果有代理网络需求，请前往【偏好设置】【网络代理】设置网络代理。<p>
                        </div>
                        <div class="tab-pane container" id="view">
                            在主页点击缩略图，或者通过选择模式的【详情】按钮，进入展览页。<p>
                            展览页将以大图、无压缩模式展示您的图像，包括图像/项目的详细信息。<p>
                            <h6>图片区域</h6>
                            图片区域以原图分辨率展示当前浏览的图片。<p>
                            点击图片区域，会显示/隐藏图片区域周围的功能按钮，包括：
                            <ul>
                                <li class="mb-1">
                                    <button style="width: 36px; height: 36px; border-width: 0" class="btn btn-outline-secondary">
                                        <i class="fa fa-close"></i>
                                    </button>
                                    返回上一页。
                                </li>
                                <li class="mb-1">
                                    <button style="width: 36px; height: 36px; border-width: 0" class="btn btn-outline-secondary">
                                        <i class="fa fa-angle-left"></i>
                                    </button>
                                    <button style="width: 36px; height: 36px; border-width: 0" class="btn btn-outline-secondary">
                                        <i class="fa fa-angle-right"></i>
                                    </button>
                                    上一项/下一项。
                                </li>
                                <li class="mb-1" v-if="platformName != 'darwin'">
                                    <button style="width: 36px; height: 36px; border-width: 0" class="btn btn-outline-secondary">
                                        <i class="fa fa-arrows-alt"></i>
                                    </button>
                                    切换全屏模式。
                                </li>
                                <li class="mb-1">
                                    <button style="width: 36px; height: 36px; border-width: 0"
                                            class="btn btn-outline-secondary">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    打开/关闭下方的栏。
                                </li>
                            </ul>
                            <h6>工具栏</h6>
                            工具栏提供
                            <button style="width: 40px;height: 36px; border-width: 0" class="btn btn-outline-secondary">
                                <i class="fa fa-info"></i>
                            </button>信息面板、
                            <button style="width: 40px;height: 36px; border-width: 0" class="btn btn-outline-secondary">
                                <i class="fa fa-clock-o"></i>
                            </button>轮播、
                            <button style="width: 40px;height: 36px; border-width: 0" class="btn btn-outline-secondary">
                                <i class="fa fa-joomla"></i>
                            </button>缩放，以及
                            <button style="width: 40px;height: 36px; border-width: 0" class="btn btn-outline-secondary">
                                <i class="fa fa-upload"></i>
                            </button>导出、
                            <button style="width: 40px;height: 36px; border-width: 0" class="btn btn-outline-secondary">
                                <i class="fa fa-pencil"></i>
                            </button>编辑功能。
                            <h6>信息面板</h6>
                            将显示项目的标题、图像的子标题(如果有)，以及所有标签、相关链接一类的详细信息。
                            <h6>轮播</h6>
                            拖动轮播工具栏的滚动条，设定一个轮播时间间隔，将以此时间间隔，自动切换浏览项。<p>
                            勾选【随机轮播】，将排布一个随机的轮播顺序。
                            <h6>缩放</h6>
                            控制大图的缩放比例。<p>
                            默认情况下，大图的缩放策略是【自适应】，这将使图片使用保持长宽比占用最大的可视区域。<p>
                            你也可以选择使用【绝对值】。在这个模式下，严格按照图片本身的分辨率进行缩放。
                            <h6>导出</h6>
                            选择一个本地硬盘上的位置，即可将当前图片导出保存到硬盘。
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>