<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="../view.css/layout.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
  </head>
  <body>
    <div class="container">
      
    </div>
    <div id="app" class="center-board" style="width:300px; height:350px;">
        <h2>{{message}}</h2>
    </div>
  </body>
  <script src="../view.js/index.js"></script>
</html>