<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
  </head>
  <body>
    We are using node <script>document.write(process.versions.node)</script>,
    Chrome <script>document.write(process.versions.chrome)</script>,
    and Electron <script>document.write(process.versions.electron)</script>.
    <div id="d">
      <img id="i" style="width:100%;height:100%"/>
    </div>
  </body>
  <script src="../target/view/index.js"></script>
</html>