<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <title>Photos</title>
    <link rel="stylesheet" href="../view.css/layout.css">
    <link rel="stylesheet" href="../view.css/font-awesome.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <style>
      body {background: #f0f0f0}
      nav {
          background: #ffffff;
          border-bottom: 1px solid lightgray;
      }
    </style>
  </head>
  <body>
    <div id="app" class="container-fruid">
        <nav class="navbar navbar-expand-sm fixed-top" style="height: 50px">
            <div class="ml-2" style="position: fixed; left: 0;">
                <button type="button" class="btn btn-sm btn-success" v-on:click="add"><i class="fa fa-plus"></i></button>
            </div>
            <div class="mr-2" style="position: absolute; left: 42px">
              <button type="button" class="btn btn-sm" v-bind:class="{'btn-outline-secondary': !selected.mode, 'btn-secondary': selected.mode}" v-on:click="switchSelectMode">
                <i class="fa fa-check-square-o"></i>
              </button>
            </div>
            <div style="position: absolute; left: 78px" v-if="viewFolder === 'list'">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" v-on:click="loadOptionToSort" data-toggle="modal" data-target="#sortModal">
                    <i class="fa fa-sort-amount-desc"></i>
                  </button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" v-on:click="loadOptionToFilter" data-toggle="modal" data-target="#filterModal">
                    <i class="fa fa-filter"></i>
                  </button>
                  <input type="text" class="form-control rounded-0" v-model="searchTextInput" v-on:keydown.enter="saveOptionFromSearch" style="width: 312px; height: 31px;">
                  <button type="button" class="btn btn-sm btn-secondary" v-on:click="saveOptionFromSearch"><i class="fa fa-search"></i></button>
                </div>
            </div>

            <div class="mr-2" style="position: absolute; right: 71px;">
              <div class="btn-group">
                <button type="button" class="btn btn-sm" v-bind:class="{'btn-secondary': viewFolder === 'list', 'btn-outline-secondary': viewFolder !== 'list'}" v-on:click="switchList('list')">
                  <div class="d-none d-md-block"><i class="fa fa-list"></i> 阅览列表</div>
                  <div class="d-md-none"><i class="fa fa-list"></i></div>
                </button>
                <button type="button" class="btn btn-sm" v-bind:class="{'btn-secondary': viewFolder === 'temp', 'btn-outline-secondary': viewFolder !== 'temp'}" v-on:click="switchList('temp')">
                  <div class="d-none d-md-block"><i class="fa fa-folder-o"></i> 临时文件夹</div>
                  <div class="d-md-none"><i class="fa fa-folder-o"></i></div>
                </button>
              </div>
            </div>
            <div class="mr-2" style="position: absolute; right: 35px">
              <button type="button" class="btn btn-sm btn-outline-secondary" v-on:click="loadOptionToView" data-toggle="modal" data-target="#viewModal"><i class="fa fa-eye"></i></button>
            </div>
            <div class="mr-2" style="position: absolute; right: 0">
              <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fa fa-cog"></i></button>
            </div>
        </nav>

        <div class="modal fade" id="viewModal">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">视图</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <div class="form-check">
                  <label class="form-check-label">
                    <input v-model="viewInput.aggregateByCollection" type="checkbox" class="form-check-input" value="">按照画集聚合显示
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input v-model="viewInput.showTitle" type="checkbox" class="form-check-input" value="">显示标题
                  </label>
                </div>
                <div class="row">
                  <div class="col">
                    <input v-model="viewInput.zoom" type="range" class="custom-range" min="1" max="10" step="1" value="5" style="height: 25px">
                  </div>
                  <div class="col-auto">
                    <label>图片缩放</label>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" v-on:click="saveOptionFromView">确定</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="sortModal">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">排序选项</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <div class="radio">
                  <label><input type="radio" name="sortRadio" v-model="sortInput.by" value="title">按标题排序</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="sortRadio" v-model="sortInput.by" value="createTime">按创建时间排序</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="sortRadio" v-model="sortInput.by" value="resolution">按大小排序</label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input v-model="sortInput.desc" type="checkbox" class="form-check-input" value="">降序
                  </label>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" v-on:click="saveOptionFromSort">确定</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="filterModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">筛选选项</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-auto"><label>收藏夹</label></div>
                  <div class="col"><input v-model="filterInput.favorite" type="checkbox" class="form-check-input" value=""></div>
                </div>
                <div class="row">
                  <!-- TODO 处理标签组及其绑定 -->
                  <div class="col">标签组</div>
                  <div class="col">/*TODO*/</div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" v-on:click="saveOptionFromFilter">确定</button>
              </div>
            </div>
          </div>
        </div>

        <div style="margin-top: 55px; margin-bottom: 55px;">
          <ul style="margin: 0; padding: 0">
            <li v-for="(image, index) in showList" style="display: inline-block;" v-bind:style="{width: view.zoom * 60 + 'px'}">
              <div class="card" style="margin: 2px">
                  <img class="card-img-top" v-bind:src="image.buffer" alt="Card image" style="width:100%" v-on:click="selectOne(index)">
                  <div class="" v-if="view.showTitle">
                      <h6 class="m-2">{{image.title}}</h6>
                  </div>
                  <i v-if="image.selected" style="position: absolute; right: 5px; bottom: 5px;" class="fa fa-check-circle fa-2x text-primary"></i>
                  <i v-if="image.col" style="position: absolute; right: 5px; top: 5px;" class="fa fa-th-list fa-lg text-white"></i>
              </div>
            </li>
          </ul>
        </div>

        <div v-if="selected.mode" style="margin: auto; position: fixed; left:0; bottom:0; width: 620px;">
          <div class="card m-1 p-1">
            <div class="row">
              <div class="col">
                已选择<span class="badge badge-light">{{selected.count}}</span>项
              </div>
              <div class="col-auto">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" v-on:click="selectAll">全选</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary" v-on:click="selectNot">反选</button>
                </div>
              </div>
              <div class="col-auto">
                <div class="btn-group btn-group-sm">
                  <button type="button" class="btn btn-sm btn-primary" v-bind:class="{disabled: !leastSelectOne}" v-if="viewFolder === 'list'" v-on:click="selectAddToTemp">添加到临时文件夹</button>
                  <button type="button" class="btn btn-sm btn-primary" v-bind:class="{disabled: !leastSelectOne}" v-if="viewFolder === 'temp'" v-on:click="selectRemoveFromTemp">移出临时文件夹</button>
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle" v-bind:class="{disabled: !leastSelectOne}" data-toggle="dropdown">更多</button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">批量修改</a>
                      <a class="dropdown-item" href="#">批量删除</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </body>
  <script src="../view.js/main.js"></script>
</html>