<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Photos</title>
    <link rel="stylesheet" href="../view.css/layout.css">
    <link rel="stylesheet" href="../view.css/font-awesome.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <style>
      body {background: #f0f0f0}
      nav {background: #ffffff}
    </style>
  </head>
  <body>
    <div id="app" class="container-fruid">
        <nav class="navbar navbar-expand-sm fixed-top">
          <div class="row">
            <div class="col">
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"><i class="fa fa-plus"></i></button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">添加本地文件…</a>
                      <a class="dropdown-item" href="#">添加来自Pixiv的URL…</a>
                    </div>
                  </div>
            </div>
          </div>
        </nav>
        <div class="" style="margin-top: 55px;">

        </div>
    </div>
  </body>
  <script src="../view.js/main.js"></script>
</html>