<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photos</title>
    <link rel="stylesheet" href="../view.css/layout.css">
    <link rel="stylesheet" href="../view.css/font-awesome.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <style>
        body {
            -webkit-user-select: none;
        }
        nav {
            background: #ffffff;
            border-bottom: 1px solid lightgray;
        }
    </style>
</head>
<body id="body" style="height: 100%; width: 100%">
<div id="titleBar" class="fixed-top" style="height: 22px; width: 100%; -webkit-app-region: drag; background: #FFFFFF; font-size: 14px; text-align: center">Photos</div>
</body>
<script src="../view.js/view.js"></script>
</html>